torch==2.8.0
torchaudio==2.8.0
transformers==4.57.0
huggingface-hub
loguru
langcodes[data]
einops
librosa==0.11.0
soundfile==0.13.1
numpy==2.2.6
pydantic==2.12.5
PyYAML==6.0.3
safetensors==0.8.0rc0
torchdiffeq
tqdm
lingua-language-detector
WeTextProcessing
pyarrow>=18.0.0
